{% for order in orders %}
<div class="col-lg-4">
  <div class="order">
    <a class='check-order-btn'>
      <p class="number-ordered">{{order.total_items}}</p>
      {% if is_customer %}
        {% if order.fulfilled %}
          <a class="btn fulfilled-btn">FULFILLED</a>
          <button type="submit" name="cancel" value="{{ order.id }}" class="btn f-cancel-btn">&times</button>
          <a class="btn f-not-fulfilled-btn">NOT FULFILLED</a>
        {% else %}
          <a class="btn nf-fulfilled-btn">FULFILLED</a>
          <button type="submit" name="cancel" value="{{ order.id }}" class="btn f-cancel-btn">&times</button>
          <a class="btn not-fulfilled-btn">NOT FULFILLED</a>
        {% endif %}
      {% else %}
        <button type="submit" name="fulfill" value="{{ order.id }}" class="btn fulfill-btn">FULFILL</button>
        {% if order.fulfilled %}
          <a class="btn employee-ful">FULFILLED</a>
        {% else %}
          <a class="btn employee-nful">FULFILLED</a>
        {% endif %}
        <button type="submit" name="cancel" value="{{ order.id }}" class="btn cancel-btn">CANCEL</button>
      {% endif %}
      <p class="customer-name-order">{{order.name}}</p>
      <p class="time-ordered">{{order.delivery}}</p><!--(time ordered) xx:xx:xx pm</p>-->
    </a>
  </div>
</div>
{% endfor %}
